ejercicio 1/Schema 5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="escritores">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="escritor" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="escritor">
    <xs:complexType>
        <xs:all>
          <xs:element name="nombre" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="nacimiento" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:all>
   </xs:complexType>
  </xs:element>
</xs:schema>
